@font-face {
    font-family: "Ubuntu Mono";
    src: url("../fonts/Arimo Regular Nerd Font Complete.ttf");
    src: url("../fonts/Arimo Regular Nerd Font Complete.ttf");
}

:root{
    --dark-color: black;
    --svg-color-menu: black;
    --Pale-Turquoise: #91c8ff;
    --Pale-Turquoise: #91c8ff;
    --Snow: #fafafa;
    --background-color-pages: #f2f6ff;
    --skill-color-name: #5c6170;
    --gray-shadow: #ccc;
    --cyan-blue: #86b7fe;
    --Cerulean:#2268ee;
    --blue-green:#19A7CE;
    --cyan-blue: #86b7fe;
    --Cerulean:#2268ee;
    --blue-green:#19A7CE;
}

body{
    font-family: "Ubuntu Mono", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    background-color: var(--Snow);
    background-repeat: repeat;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    font-size: 14pt;
    font-size: 14pt;
}

.background-color-index{
    background: linear-gradient(110deg, var(--Snow) 54%, var(--Pale-Turquoise) 50%);
}

a{
    text-decoration: none;
    color:var(--dark-color);
}

/*************************************************
                        MENU
*************************************************/

/* center my menu on the right center of my screen */
.display-manu{
    display: none;
}

.menu{
    position: fixed;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    /* display: flex; */
    flex-direction: column;
    z-index: 10;
}

.active-menu, .menu-style{
    border-style: solid;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-width: 1px;
    padding: 15px;
    margin: 5px;
    font-size: 12pt;
    font-size: 12pt;
    background-color:var(--Snow);
}

/* working with active menu */
.active-menu {
    background-color: var(--dark-color);

}

.active-menu:after{
    content: attr(data-original-title);
    color: var(--Snow);
}

.active-menu > svg{
    display: none;
}

/* menu hover styles */
.menu-style:hover{
    background-color: var(--dark-color);
    color: var(--Pale-Turquoise);
    transition: ease-in-out;
    transition-delay: 0.2s;
    width: 40px;
    height: 40px;
}

svg{
    color: var(--svg-color-menu);
    font-size: 1.5rem;
}

/* desplay none my svg  */
a > .menu-style:hover > svg{
    display: none;
    transition: ease-in-out;
    transition-delay: 0.2s; 
}

/* showing the attribute that the tag a have with the name data-original-tilte */
.menu-style:hover:after{
    transition: ease-in-out;
    transition-delay: 0.2s; 
    content: attr(data-original-title);
    color: var(--Snow);
}


/*****************************************************
                    INDEX
*****************************************************/

.section{
    /* min-height: 100vh; */
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
}

.style-name{
    color: var(--Snow);
}

.style-title{
    font-size: 20px;
}

.aling-div-left{
    display: inline-block; 
    display: inline-block; 
}

.img-index{
    width: 100%;
}

.aling-content-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* margin bottom cero */
.margin-b-cero{
    margin-bottom: 2px;
}

/* margin bottom cero */
.margin-t-cero{
    margin-top: 0px;
}

h1{
    font-size: 3.2rem;
}

/******************************************************************
                            WAVES ANIMATION
******************************************************************/

body {
    margin:0;
  }
  
  .header {
    background: rgb(192,222,255);
background: linear-gradient(223deg, rgba(192,222,255,1) 0%, rgba(34,104,238,1) 100%);
  }
  
  .inner-header {
    /* height:85vh; */
    width:100%;
    margin: 0;
    padding: 0;
  }

  .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    /* height:20vh; */
    text-align:center;
    background-color: white;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }

/******************************************************************
                            MAIN TITLES PAGES
******************************************************************/
.background-color-pages{
    background-color: var(--background-color-pages);
    /* background: linear-gradient(180deg, var(--Pale-Turquoise) 60%, var(--Snow) 60%);
    background-repeat: repeat-x; */
}

/* change my h1 without change the tag h1 */
.main-title > h1{
    position: relative;
    text-transform: uppercase;
    font-size: 4.3rem;
}

/* making my second title behind my main title */
.bg-text{
    position: absolute;
    top: 0;
    top: 0;
    left: 50%;
    transition: all .4s ease-in-out;
    z-index: -1;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 6.3rem;
    color: var(--Pale-Turquoise);
    width: max-content;
    width: max-content;
}

/*****************************************************************
                        PAGES STYLES
*****************************************************************/

.about-width-text{
    width: 50%;
}

.img-left-margin{
    margin-left: 20px;
}

.img-right-margin{
    margin-right: 20px;
}

.img-style-page{
    border-style: solid;
    padding: 5px;
    border-color: var(--Pale-Turquoise);
    box-shadow: 10px 10px 10px var(--grey);
      -moz-box-shadow: 10px 10px 10px var(--gray-shadow);
      -webkit-box-shadow: 10px 10px 10px var(--gray-shadow);
      -khtml-box-shadow: 10px 10px 10px var(--gray-shadow);
}



/*********************************************************
                    EXPERINCE
*********************************************************/

.position-right-card{
    right: 16px;
}

.position-left-card{
    left: 16px;
}

.card{
    width: 40%;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    position: relative;
}

/* float text right and left  */
.float-right{
    float: right;
}

.float-left{
    float: left;
}

/* text align right and left  */
.text-align-right{
    text-align: right;
}

.text-align-left{
    text-align: left;
}

.card-name{
    position: absolute;
    top: 40px;
}

.description{
    width: 532px;
    height: 130px;
    position: absolute;
    top: 220px;
    transform: translateY(-50%);
    background-color: var(--Pale-Turquoise);
    padding-right: 10px;
    padding-left: 10px;
    overflow: auto;
}

/* skill position and color */
.skills{
    position: absolute;
    top: 289px;
    color: var(--dark-color);
    padding-left: 10px;
    padding-right: 10px;
    backdrop-filter: blur(8px);
    top: 289px;
    color: var(--dark-color);
    padding-left: 10px;
    padding-right: 10px;
    backdrop-filter: blur(8px);
}

.external-link{
    position: absolute;
    top: 338px;
}

.external-link > a{
    text-decoration: none;
}

.external-link:hover > a > svg{
    color: var(--Pale-Turquoise);
}

.img-card{
    z-index: 0;
    border-style: solid;
    color: var(--background-color-pages);
}

.img-card:hover{
    color: var(--Pale-Turquoise);
    transition: ease-in-out;
    transition-delay: 0.2s; 
}
.img-experience{
    width: 300px;
    height: 411px;
}

.img-right{
    position: relative;
}

.img-left-content{
    position: relative;
    left: 450px;
}

/**********************************************************
                    CONTACT 
**********************************************************/

#contact, #portfolio, #about{
    padding-top: 25px;
    padding-bottom: 50px;
}

.aling-content-center-row{
    display: grid;
    justify-content: center;
    justify-items: center;
}

.sub-tilte{
    margin-bottom: 25px;
    font-size: 2rem;
}

.form{
    display: grid; 
    padding-right: 50px;
    padding-top: 25px;
    width: 400px;
    justify-content: center; 
}

.personal-info{
    padding-left: 50px;
    width: 400px;
    display: grid;
    justify-content: center;
}

hr{
    width: 300px;
}

.label-form, .input-form, .textarea-form{
    width: 250px;
    display: grid;
}

.label-form{
    margin-top: 10px;
    margin-bottom: 5px;
}

.submit-form{
    margin-top: 10px;
    background-color: var(--Pale-Turquoise);
    border-radius: 5px;
    padding: 10px;
    width: 255px;
}

input, textarea{
    background: white;
    border: 1px solid var(--gray-shadow);
    border-radius: 5px;
    color: black;
    font-size: 16px;
    line-height: 30px;
    margin: 8px 0;
    padding: 7px;
    box-sizing: border-box;
}

input[type="text"],input[type="email"], .submit-form-contact{
    width: 300px;
}

.textarea-form {
    width: 300px;
    height: 250px;
}

input[type="text"]:focus,input[type="email"]:focus, textarea:focus{
    border: 1px solid var(--cyan-blue);
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}

.submit-form-contact{
    height: 41px;
    border-radius: 5px;
    font-size: 14pt;
    cursor: pointer;
    color: var(--dark-color);
    border: 1px solid var(--Pale-Turquoise);
    background-color: var(--Pale-Turquoise);
}

.submit-form-contact:hover{
    color: var(--Snow);
    border-color: var(--cyan-blue);
    background-color: var(--Cerulean);
    transition: ease-in-out;
    transition-delay: 0.2s;
}

.info-data-contact{
    display: flex;
    align-items: center;
}
.location-icon{
    cursor: default !important;
}
.info-data-contact:hover > a, .info-data-contact:hover svg{
    cursor: pointer;
    color: var(--Cerulean);
    transition: ease-in-out;
    transition-delay: 0.2s;
}
.icon{
    display: flex;
    justify-content: space-evenly;
}

.linkedin:hover,.github:hover{
    color: var(--Cerulean);
    transition: ease-in-out;
    transition-delay: 0.2s;
}

.aling-flex-content{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/**********************************************************
                    FOOTER 
**********************************************************/

footer{
    background-color: var(--Pale-Turquoise);
    margin-top: 25px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.svg-footer{
    margin-right: 10px;
    margin-left: 10px;
}

.svg-footer:hover{
    color: var(--blue-gree);
    color: var(--blue-gree);
}

/*****************************************************
                    LAPTOP
*****************************************************/

/* laptop view  */
@media (min-width: 1040px) and (max-width: 1536px) {

    .img-index{
        width: 80%;
    }

    .card{
        width: 50%;
    }

    .background-color-index {
        background: linear-gradient(110deg, var(--Snow) 50%, var(--Pale-Turquoise) 50%);
    }

    .img-left-content{
        left: 423px;
    }

    .description{
        width: 450px;
        height: 139px;
        position: absolute;
        top: 220px;
        transform: translateY(-50%);
        background-color: var(--Pale-Turquoise);
        padding-right: 10px;
        padding-left: 10px;
        overflow: auto;
    }

    .skills{
        width: 450px;
    }
}


/**********************************************************
                    PHONE VIEW
**********************************************************/
@media (min-width: 320px) and (max-width: 767px) {
    body{
        font-size: 12pt !important;
    }
    

    /* menu */
    .display-manu{
        display: block;
    }

    .style-name{
        color: var(--Snow);
        font-size: 32px !important;
    }

    .style-title{
        font-size: 19px;
    }

    #contact, #portfolio, #about {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    .menu-phone-view{
        position: fixed;
    }
 
    .phone-tablet-view-none{
        display: none;
    } 

    .menu-alignt-right{
        display: flex;
        justify-content: flex-end;
        right: 15px;
        top: 6px;
        position: absolute;
    }

    .menu-action{
        border-style: solid;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        border-width: 1px;
        padding: 15px;
        margin: 5px;
        font-size: 12pt;
        background-color: var(--Snow);
        cursor: pointer;
        user-select: none;
        z-index: 99;
        position: fixed;
    }

    /* index view */

    .content-display-none{
        display: none;
    }

    .inner-header{
        height: 94vh;
    }

    .inner-header{
        height: 94vh;
    }

    /* about view */

    .img-right-margin{
        margin-right: 0px;
    }

    .img-left-margin{
        margin-left: 0px;
    }

    .phone-view{
        display: block;
    }

    .about-width-text{
        width: 95%;
        margin-left: 10px;
    }

    /* move the content of free time section the pic is going to show the last child  */
    .move-content{
        display: flex;
        flex-direction: column;
    }

    [id$='-row'] {
        order: 2;
    }
    #fisrt-child-img {
        order: 3;
    }

    #second-child-text {
        order: 1;
    }

    /* work experience view */

    .main-title > h1 {
        font-size: 2.5rem;
        font-size: 2.5rem;
    }

    .bg-text {
        font-size: 3.2rem;
        font-size: 3.2rem;
    }

    .card{
        width: 100%;
    }

    .img-card{
        width: 100%;
        height: 100%;
        filter: opacity(30%);
    }

    .card-name{
        padding-left: 10px;
        padding-right: 10px;
        filter: opacity(30%);
    }

    .card-name{
        padding-left: 10px;
        padding-right: 10px;
    }

    .description{
        width: 334px;
    }

    .skills{
        width: 334px;
        top:285px;
        background-color: var(--Snow);
        padding-right: 10px;
        padding-left: 10px;
    }

    .external-link{
        top:357px;
        top:357px;
    }

    .img-left-content {
        position: 0px;
        left:0px;
    }

    /* contact */

    .margin-width-text{
        width: 95%;
        margin-left: 10px;
    }

    .aling-flex-content{
        display: grid;
    }

    .form{
        padding-right: 0; 
        width: 100%; 
    }

    .personal-info{
        padding-left: 0; 
        width: 100%; 
    }

    #form-contact{
        order:2;
    }

    #personal-info-social{
        order: 1;
    }

    /* contact */

    .margin-width-text{
        width: 95%;
        margin-left: 10px;
    }

    .aling-flex-content{
        display: grid;
    }

    .form{
        padding-right: 0; 
        width: 100%; 
    }

    .personal-info{
        padding-left: 0; 
        width: 100%; 
    }

    #form-contact{
        order:2;
    }

    #personal-info-social{
        order: 1;
    }
}

/********************************************************
                        TABLET VIEW 
********************************************************/

@media (min-width: 768px) and (max-width: 1040px) {

    body{
        font-size: 16pt !important;
    }

    .inner-header{
        height: 96vh;
    }

    /* menu */
        /* menu */
    .display-manu{
        display: block;
    }
    
    #contact, #portfolio, #about {
        padding-top: 70px;
        padding-bottom: 50px;
    }
    
    .menu-phone-view{
        position: fixed;
    }
     
    .phone-tablet-view-none{
        display: none;
    } 
    
    .menu-alignt-right{
        display: flex;
        justify-content: flex-end;
        right: 15px;
        top: 6px;
        position: absolute;
    }
    
    .menu-action{
        border-style: solid;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        border-width: 1px;
        padding: 15px;
        margin: 5px;
        font-size: 12pt;
        background-color: var(--Snow);
        cursor: pointer;
        user-select: none;
        z-index: 99;
        position: fixed;
    }

    .aling-content-center{
        font-size: 14pt;
    }

    .main-title > h1 {
        font-size: 3.5rem;
    }

    .bg-text {
        font-size: 4.4rem;
    }
    /* about view */

    .img-right-margin{
        margin-right: 0px;
    }

    .img-left-margin{
        margin-left: 0px;
    }
    
    .phone-view{
        display: block;
    }

    .about-width-text{
        width: 95%;
        margin-left: 10px;
    }

    /* move the content of free time section the pic is going to show the last child  */
    .move-content{
        display: flex;
        flex-direction: column;
    }

    [id$='-row'] {
        order: 2;
    }
    #fisrt-child-img {
        order: 3;
    }

    #second-child-text {
        order: 1;
    }

    /* experience work view */
    .card{
        width: 70%;
    }

    .img-card{
        width: 100%;
        height: 100%;
        filter: opacity(30%);
        filter: opacity(30%);
    }

    .description{
        width: 334px;
    }

    .skills{
        width: 334px;
        top:285px;
        background-color: var(--Snow);
        padding-right: 10px;
        padding-left: 10px;
    }

    .external-link{
        top:366px;
        top:366px;
    }

    .img-left-content {
        position: 0px;
        left:0px;
    }

    /* contact  */
    .margin-width-text{
        width: 95%;
        margin-left: 10px;
    }

    .aling-flex-content{
        display: grid;
    }

    .form{
        padding-right: 0; 
        width: 100%; 
    }

    .personal-info{
        padding-left: 0; 
        width: 100%; 
    }

    #form-contact{
        order:2;
    }
    /* contact  */
    .margin-width-text{
        width: 95%;
        margin-left: 10px;
    }

    .aling-flex-content{
        display: grid;
    }

    .form{
        padding-right: 0; 
        width: 100%; 
    }

    .personal-info{
        padding-left: 0; 
        width: 100%; 
    }

    #form-contact{
        order:2;
    }

    #personal-info-social{
        order: 1;
    }
    #personal-info-social{
        order: 1;
    }
}